In [1]:
#Here we import pandas library for data manupilation and extraction
import pandas as pd

In [2]:
#Here we upload our data
data=pd.read_csv('CarPrice_Assignment.csv')

In [228]:
#Here we take each cars' name and extract only their brands and visualise our data
data['CarName']=data['CarName'].apply(lambda x: x.split(' ')[0])
data

     car_ID  symboling      CarName  ... citympg highwaympg    price
0         1          3  alfa-romero  ...      21         27  13495.0
1         2          3  alfa-romero  ...      21         27  16500.0
2         3          1  alfa-romero  ...      19         26  16500.0
3         4          2         audi  ...      24         30  13950.0
4         5          2         audi  ...      18         22  17450.0
..      ...        ...          ...  ...     ...        ...      ...
200     201         -1        volvo  ...      23         28  16845.0
201     202         -1        volvo  ...      19         25  19045.0
202     203         -1        volvo  ...      18         23  21485.0
203     204         -1        volvo  ...      26         27  22470.0
204     205         -1        volvo  ...      19         25  22625.0

[205 rows x 26 columns]

In [229]:
#Here we fix the wrong written names of the brands 
data=data.replace('nissan','Nissan')
data=data.replace('vokswagen','volkswagen')
data=data.replace('porcshce','porsche')
data=data.replace('toyouta','toyota')

In [230]:
# Here is where we do label encoding
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['CarName'] = le.fit_transform(data['CarName'])
data['fueltype'] = le.fit_transform(data['fueltype'])
data['aspiration'] = le.fit_transform(data['aspiration'])
data['doornumber'] = le.fit_transform(data['doornumber'])
data['carbody'] = le.fit_transform(data['carbody'])
data['drivewheel'] = le.fit_transform(data['drivewheel'])
data['enginelocation'] = le.fit_transform(data['enginelocation'])
data['enginetype'] = le.fit_transform(data['enginetype'])
data['cylindernumber'] = le.fit_transform(data['cylindernumber'])
data['fuelsystem'] = le.fit_transform(data['fuelsystem'])

In [231]:
#Here we remove unnecessary labels
data=data.drop(
    labels=["car_ID","symboling"],
    axis=1,
)

In [233]:
#Checking if the encoding was done right or not.
print(f' carbody column has {data.carbody.nunique()} unique values: {data.carbody.unique()}')

 carbody column has 5 unique values: [0 2 3 4 1]

In [234]:
#Visualising our processed data
data

     CarName  fueltype  aspiration  ...  citympg  highwaympg    price
0          1         1           0  ...       21          27  13495.0
1          1         1           0  ...       21          27  16500.0
2          1         1           0  ...       19          26  16500.0
3          2         1           0  ...       24          30  13950.0
4          2         1           0  ...       18          22  17450.0
..       ...       ...         ...  ...      ...         ...      ...
200       22         1           0  ...       23          28  16845.0
201       22         1           1  ...       19          25  19045.0
202       22         1           0  ...       18          23  21485.0
203       22         0           1  ...       26          27  22470.0
204       22         1           1  ...       19          25  22625.0

[205 rows x 24 columns]

In [235]:
#Checking if everything is alright
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CarName           205 non-null    int64
 1   fueltype          205 non-null    int64
 2   aspiration        205 non-null    int64
 3   doornumber        205 non-null    int64
 4   carbody           205 non-null    int64
 5   drivewheel        205 non-null    int64
 6   enginelocation    205 non-null    int64
 7   wheelbase         205 non-null    float64
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         205 non-null    float64
 11  curbweight        205 non-null    int64
 12  enginetype        205 non-null    int64
 13  cylindernumber    205 non-null    int64
 14  enginesize        205 non-null    int64
 15  fuelsystem        205 non-null    int64
 16  boreratio         205 non-null    float64
 17  stroke            205 non-null    float64
 18  compressionratio  205 non-null    float64
 19  horsepower        205 non-null    int64
 20  peakrpm           205 non-null    int64
 21  citympg           205 non-null    int64
 22  highwaympg        205 non-null    int64
 23  price             205 non-null    float64
dtypes: float64(8), int64(16)
memory usage: 38.6 KB

In [236]:
#Taking the data for its first experiment
ex_data_1=data

In [237]:
#Here we take out all the attributes that are not related with car performance
ex_data_1=ex_data_1.drop(labels=['doornumber','carbody','drivewheel','enginelocation','wheelbase','carlength','carwidth','carheight','curbweight'], axis=1)

       
#Assigning the X and y values

X = ex_data_1.drop(labels=['price'], axis=1)
y = ex_data_1['price']

In [238]:
X

     CarName  fueltype  aspiration  ...  peakrpm  citympg  highwaympg
0          1         1           0  ...     5000       21          27
1          1         1           0  ...     5000       21          27
2          1         1           0  ...     5000       19          26
3          2         1           0  ...     5500       24          30
4          2         1           0  ...     5500       18          22
..       ...       ...         ...  ...      ...      ...         ...
200       22         1           0  ...     5400       23          28
201       22         1           1  ...     5300       19          25
202       22         1           0  ...     5500       18          23
203       22         0           1  ...     4800       26          27
204       22         1           1  ...     5400       19          25

[205 rows x 14 columns]

In [239]:
y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [240]:
#Here we import the linear regression model and error functions. 
#Then we split our data for training and testing.
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error,mean_squared_error, r2_score,mean_absolute_error 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [241]:
#Here we create our regression model object and assign training data as parameters.
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [242]:
reg.score(X_test, y_test)

0.7890635497461095

In [243]:
#Here we import cross validation and use it on our algorithm
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = reg, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [244]:
#Evaluation
print('Linear Regression')
print('Score : %.4f' % reg.score(X_test, y_test))
print(accuracies)

Linear Regression
Score : 0.7891
[0.78388525 0.88436672 0.78616151 0.70752678 0.76300744]

In [245]:
#Importing math library
import math

In [246]:
#Calling the error funcions
y_pred = reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = math.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

In [247]:
#Printing the results
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 16652171.53
MAE    : 2847.04
RMSE   : 4080.71
R2     : 0.79

In [248]:
#Here we import Lasso from sklearn
from sklearn.linear_model import Lasso

In [249]:
#We call it upon our data and assign a 23 lambda value which we experimented to see that it was the ideal value.
las=Lasso(alpha=23)
las.fit(X_train,y_train)

Lasso(alpha=23, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [250]:
las.score(X_test, y_test)

0.7924279817552357

In [251]:
#Calling the error funcions
y_pred_2=las.predict(X_test)
mse = mean_squared_error(y_test, y_pred_2)
mae = mean_absolute_error(y_test, y_pred_2)
rmse = math.sqrt(mean_squared_error(y_test, y_pred_2))
r2 = r2_score(y_test, y_pred_2)

In [252]:
#Using cross validation
accuracies = cross_val_score(estimator = las, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [253]:
#Evaluation
print('Lasso Regression')
print('Score : %.4f' % las.score(X_test, y_test))
print(accuracies)

Lasso Regression
Score : 0.7924
[0.78955412 0.88147473 0.80145488 0.74811912 0.77620403]

In [254]:
#Results
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 16386569.74
MAE    : 2817.10
RMSE   : 4048.03
R2     : 0.79

In [255]:
#Here we import Ridge from sklearn
from sklearn.linear_model import Ridge

In [256]:
#We feed it our training data and assign a 23 lambda value which again was the ideal value.
ridge=Ridge(alpha=23)
ridge.fit(X_train,y_train)

Ridge(alpha=23, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [257]:
ridge.score(X_test, y_test)

0.7936238300527785

In [258]:
#Calling the error funcions
y_pred_2=ridge.predict(X_test)
mse = mean_squared_error(y_test, y_pred_2)
mae = mean_absolute_error(y_test, y_pred_2)
rmse = math.sqrt(mean_squared_error(y_test, y_pred_2))
r2 = r2_score(y_test, y_pred_2)

In [259]:
#Using cross validation
accuracies = cross_val_score(estimator = ridge, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [260]:
#Evaluation
print('Ridge Regression')
print('Score : %.4f' % ridge.score(X_test, y_test))
print(accuracies)

Ridge Regression
Score : 0.7936
[0.77845924 0.85726125 0.81192709 0.78229457 0.79717087]

In [261]:
#Results
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 16292164.67
MAE    : 2805.67
RMSE   : 4036.36
R2     : 0.79

In [262]:
data

     CarName  fueltype  aspiration  ...  citympg  highwaympg    price
0          1         1           0  ...       21          27  13495.0
1          1         1           0  ...       21          27  16500.0
2          1         1           0  ...       19          26  16500.0
3          2         1           0  ...       24          30  13950.0
4          2         1           0  ...       18          22  17450.0
..       ...       ...         ...  ...      ...         ...      ...
200       22         1           0  ...       23          28  16845.0
201       22         1           1  ...       19          25  19045.0
202       22         1           0  ...       18          23  21485.0
203       22         0           1  ...       26          27  22470.0
204       22         1           1  ...       19          25  22625.0

[205 rows x 24 columns]

In [263]:
#For the second experiment now the data is left only with physical attributes
ex_data_2=data
ex_data_2=ex_data_2.drop(labels=['fueltype','aspiration','enginetype','cylindernumber','fuelsystem','carlength','boreratio','stroke','horsepower','compressionratio','peakrpm','citympg','highwaympg'], axis=1)
X = ex_data_2.drop(labels=['price'], axis=1)
y = ex_data_2['price']

In [264]:
#Again we split our new data for training and testing.
#Then we create our regression model object and assign training data as parameters.
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)
reg = LinearRegression()
reg.fit(X_train, y_train)
reg.score(X_test, y_test)

0.8211413388758979

In [265]:
#Cross validation
accuracies = cross_val_score(estimator = reg, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [266]:
#Evaluation
print('Linear Regression')
print('Score : %.4f' % reg.score(X_test, y_test))
print(accuracies)

Linear Regression
Score : 0.8211
[0.83805582 0.86387019 0.83816069 0.87353259 0.8538776 ]

In [267]:
#Error functions
y_pred = reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = math.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

In [268]:
#Results
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 14119821.88
MAE    : 2420.04
RMSE   : 3757.64
R2     : 0.82

In [269]:
#Same process for lasso
las=Lasso(alpha=23)
las.fit(X_train,y_train)
las.score(X_test, y_test)

0.8239439615185122

In [270]:
y_pred_2=las.predict(X_test)
mse = mean_squared_error(y_test, y_pred_2)
mae = mean_absolute_error(y_test, y_pred_2)
rmse = math.sqrt(mean_squared_error(y_test, y_pred_2))
r2 = r2_score(y_test, y_pred_2)

In [271]:
accuracies = cross_val_score(estimator = las, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [272]:
print('Lasso Regression')
print('Score : %.4f' % las.score(X_test, y_test))
print(accuracies)

Lasso Regression
Score : 0.8239
[0.83232482 0.87409621 0.84157804 0.87457715 0.85384485]

In [273]:
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 13898571.58
MAE    : 2419.61
RMSE   : 3728.08
R2     : 0.82

In [274]:
#and Ridge
ridge=Ridge(alpha=23)
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)

0.8279298205464363

In [275]:
y_pred_2=ridge.predict(X_test)
mse = mean_squared_error(y_test, y_pred_2)
mae = mean_absolute_error(y_test, y_pred_2)
rmse = math.sqrt(mean_squared_error(y_test, y_pred_2))
r2 = r2_score(y_test, y_pred_2)

In [276]:
accuracies = cross_val_score(estimator = ridge, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [277]:
print('Ridge Regression')
print('Score : %.4f' % ridge.score(X_test, y_test))
print(accuracies)

Ridge Regression
Score : 0.8279
[0.70506628 0.6760155  0.81419029 0.85034522 0.84028503]

In [278]:
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 13583911.84
MAE    : 2486.37
RMSE   : 3685.64
R2     : 0.83

In [279]:
#Now for the final experiment we take all the attributes except car brand
ex_data_3=data
ex_data_3=ex_data_3.drop(labels=['CarName'], axis=1)
X = ex_data_3.drop(labels=['price'], axis=1)
y = ex_data_3['price']

In [280]:
#The usual process is repeated all over again for this new data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)
reg = LinearRegression()
reg.fit(X_train, y_train)
reg.score(X_test, y_test)

0.7982475638042235

In [281]:
accuracies = cross_val_score(estimator = reg, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished

In [282]:
print('Linear Regression')
print('Score : %.4f' % reg.score(X_test, y_test))
print(accuracies)

Linear Regression
Score : 0.7982
[0.81465238 0.8901124  0.84649047 0.85037409 0.84919934]

In [283]:
y_pred = reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = math.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

In [284]:
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 15927148.54
MAE    : 2543.87
RMSE   : 3990.88
R2     : 0.80

In [285]:
las=Lasso(alpha=23)
las.fit(X_train,y_train)
las.score(X_test, y_test)

0.805733654948359

In [286]:
y_pred_2=las.predict(X_test)
mse = mean_squared_error(y_test, y_pred_2)
mae = mean_absolute_error(y_test, y_pred_2)
rmse = math.sqrt(mean_squared_error(y_test, y_pred_2))
r2 = r2_score(y_test, y_pred_2)

In [287]:
accuracies = cross_val_score(estimator = las, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [288]:
print('Lasso Regression')
print('Score : %.4f' % las.score(X_test, y_test))
print(accuracies)

Lasso Regression
Score : 0.8057
[0.82116677 0.90381684 0.84789106 0.85411609 0.84675314]

In [289]:
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 15336166.40
MAE    : 2571.37
RMSE   : 3916.14
R2     : 0.81

In [290]:
ridge=Ridge(alpha=23)
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)

0.8090852465232384

In [291]:
y_pred_2=ridge.predict(X_test)
mse = mean_squared_error(y_test, y_pred_2)
mae = mean_absolute_error(y_test, y_pred_2)
rmse = math.sqrt(mean_squared_error(y_test, y_pred_2))
r2 = r2_score(y_test, y_pred_2)

In [292]:
accuracies = cross_val_score(estimator = ridge, X = X_train, y = y_train, cv = 5,verbose = 1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [293]:
print('Ridge Regression')
print('Score : %.4f' % ridge.score(X_test, y_test))
print(accuracies)

Ridge Regression
Score : 0.8091
[0.78565905 0.83303274 0.83053587 0.83865743 0.8201162 ]

In [294]:
print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 15071578.28
MAE    : 2623.51
RMSE   : 3882.21
R2     : 0.81